/* General styling */
html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigation */
nav {
    background-color: #004d40;
    color: white;
    padding: 5px 0; 
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 20px;
}

.logo img {
    height: 40px;
}

.nav-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 90px;
}

.nav-list li {
    margin: 0 10px;
}

.nav-list a {
    color: white;
    margin: 0 auto 0 2px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.99em;
    padding: 5px 10px;
}

.nav-list a:hover {
    background-color: #ffffff;
    color: #004d40;
    border-radius: 5px;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    border-radius: 10px;
}

/* Page Title */
.page-title h1 {
    font-family: 'Amiri', serif; 
    font-size: 48px; 
    color: #004d40; 
    margin: 20px auto;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Book Container */
.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.book-item {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 15px;
    padding: 10px;
    text-align: center;
    width: 180px;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    display: block;
}

.book-item img {
    width: 100%;
    height: 270px; /* Consistent height for the book covers */
    object-fit: cover; /* Ensures the image covers the element */
    border-radius: 10px;
    transition: opacity 0.3s;
}

.book-title {
    font-family: 'Amiri', serif;
    font-size: 18px;
    color: black;
    margin: 10px 0;
    text-align: center; /* Center the book title */
}

.book-item:hover {
    transform: translateY(-10px);
    background-color: white; /* Turn the whole rectangle white */
    color: black;
}

.book-item:hover img {
    opacity: 0.5;
}

.book-item .view-more {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #004d40;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    white-space: nowrap;
}

.book-item:hover .view-more {
    display: block;
}

.book-item:hover .view-more:hover {
    background-color: #00332b;
    transform: translate(-50%, -50%) scale(1.05);
}

/* Footer */
footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 1px 0;
    width: 100%;
    position: relative;
    margin-top: 1.5pc;
    margin-top: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .logo {
        display: none;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 5px 0; 
    }

    .menu-toggle {
        display: flex;
        margin-left: 0;
    }

    .logo.active {
        display: block;
        margin-bottom: 10px;
    }

    .page-title h1 {
        font-size: 40px; 
    }

    .book-item img {
        height: 280px; /* Adjust height for mobile */
    }

    .book-item {
        width: 190px; /* Adjust width for mobile */
        margin: 10px;
    }

    .book-title {
        margin-top: 15px; /* Adjust top margin for mobile */
    }
}